<html>
  <head>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="page">
       <div id="header">
          <h1>REST API Documentation</h1>
       </div>
       <div id="body">
        <table class="menu">
          <% @resources.each do |item| %>
          <tr>
            <td> <a href='<%= item['resource'] %>.html' class="button red"><%= item['resource'] %></a> </td>
            <td> <h3><%= item['title'] %></h3></td>
          </td>
            <% end %>
        </table>
       </div>
  </body>
</html>
