<html>
  <head>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1>REST API Documentation</h1>
        <form id="selector">
          <input type="text" id="key"/>
          <a href="#" class="button green" id="explore">Explore</a>
        </form>
      </div>
      <div id="body">
        <div class="menu">
          <% @resources.each do |item| %>
          <div class="resource">
            <div class="name">  <a href='<%= item['resource'] %>.html'>/<%= item['resource'] %></a> </div>
            <div class="title"> <h3><%= item['title'] %></h3> </div>
          </div>
          <% end %>
        </div>
      </div>
    </body>
  </html>
