<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>    
    <link rel="stylesheet" href="style/style.css" />
    <script src="js/amy.js"></script>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <div class="title">
          <h1>REST API Documentation</h1>
          <h4><%= @base_url %></h4>
        </div>
        <form id="selector">
          <input type="text" id="key"/>
          <a href="#" class="button green" id="explore">Explore</a>
        </form>
      </div>
      <div id="body">
        <div class="resources">
        </div>
        <div class="footer">
          [ <div class="base_url"> BASE_URL: <%= @base_url %> </div> | <div class="version"> API_VERSION: <%= @apiversion %></div> ]
        </div>
      </div>
    </body>
  </html>
