<html>
  <head> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/amy.js"></script>
    <link rel="stylesheet" href="style/style.css" />
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1><%= @title %></h1>
      </div>
      <div id="body">
         <% @sections.each do |section| %>
            <div class="section">
              <%  section['entries'].each_pair do |method, content| %>
                 <table class="entry">
                   <tr>
                       <td class="method"><%= method %></td>
                       <td class="params"><%= section['params'] %></td>
                       <td class="toggle"><a href="#" onclick="toggle(this);" class="button small gray">Toggle</a></td>
                     </tr>
                     <tr> <td colspan=3 class="content"> <%= content %> </td> </tr>
                 </table>
              <% end %>
            </div>
         <% end %>
       </div>
     <br/>
    <a href="index.html" class="button red">back</a>
  </body>
</html>
